<!-- Dislplay all the weather of the countries preferred by the users -->
<div class="loader-container" *ngIf="isLoading"><div class="loader"></div></div>
<div class="container">
    <ng-container *ngIf="capitals">
        <app-weather-card *ngFor="let capital of capitals" [capital]= "capital"></app-weather-card>
    </ng-container>
    <div class="col">
        <div class="card shadow rounded">
            <div class="add-weather-card card text-center" [class.dark-mode-add-card-color]="isDarkMode">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <h4 class="country-name">Add City</h4>
                        <div class="p-2 ">
                            <a routerLink="/add-weather"><img  src="../../../assets/images/add-more.png " alt="sunny day" /></a>
                        </div>
                        <div class="p-2"><img width="183px" src="../../../assets/images/city.png " alt="sunny day" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>