.container {
    display: grid;
    /* Display 2 items per row */
    grid-template-columns: 1fr 1fr 1fr;
    /* Define the gap between each item in the grid */
    grid-gap: 20px;
    padding: 15px;
}

.weather {
    font-family: Arial, Helvetica, sans-serif;
}

.min-degree {
    color: rgb(43, 214, 157);
}

.max-degree {
    color: rgb(206, 5, 5);
}

.country-name {
    text-transform: uppercase;
}

.weather-wrapper{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*  Display only 1 element per row for devices of width <= 992px*/
@media (max-width: 992px) {
      .container {  
        grid-template-columns: auto;
    }
  }  