.main-container{
    min-height: 90vh;
    width: 90vw;
}

.weather {
    font-family: Arial, Helvetica, sans-serif;
}

.min-degree {
    color: rgb(43, 214, 157);
}

.max-degree {
    color: rgb(206, 5, 5);
}

.country-name {
    text-transform: uppercase;
}

.weather-wrapper{
    text-decoration: none;
    color: inherit;
    flex-basis: 33.333333%;
}

.weather-card{
    min-height: 350px;
}


.weather-card-container{
    display: flex;
    flex-wrap: wrap;
}