<ng-container *ngIf="clickedCapital">
  <div class="loader-container" *ngIf="isLoading"><div class="loader"></div></div>
  <svg class="back__button" routerLink="/home" viewBox="4085 152 98.5 126" tabindex="0">
    <defs>
      <style>
      .a {
        fill: #2b244d;
      }

      .b {
        fill: rgba(0, 0, 0, 0);
      }

      .b, .c {
        stroke: #fff;
        stroke-width: 2px;
      }

      .c {
        fill: none;
      }

      .d {
        fill: black;
        font-size: 15px;
        font-family: SegoeUI, Segoe UI, sans-serif;
        letter-spacing: 0.4em;
      }

      .dark__d{
        fill: white;
      }
    </style>
    </defs>
    <g transform="translate(3980)">
      <circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)"></circle>
      <line class="b" transform="translate(123.5 190.5)" x1="80"></line>
      <line class="b" transform="translate(123.5 164.5)" x2="26" y1="26"></line>
      <line class="c" transform="translate(123.5 190.5)" x1="26" y1="27"></line>
      <text class="d" [ngClass]="{'dark__d': isDarkMode}" transform="translate(117 274)">
        <tspan x="0" y="0">BACK</tspan>
      </text>
    </g>
  </svg>
  <div class="container details-page__wrapper shadow-lg rounded-3" [ngClass]="{'details-page__wrapper-dark': isDarkMode}">
    <div class="row row-cols-1 m-5">
      <div class="col">
        <div class="header-content__wrapper">
          <div class="today-weather__container">
            <!--{{today}}-->
            <div class="temp-state__container">
              <span class="temperature__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{currentTemp}}°</span>
              <span class="weather-state__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{currentWeatherState}}</span>
            </div>
            <div class="hum-wind__container">
              <div class="hum__container">
                <span class="hum__text" [ngClass]="{'font-contrast-color': isDarkMode} ">humidity</span>
                <span class="hum-value__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{currentHum}} %</span>
              </div>
              <div class="hum-wind__separator" [ngClass]="{'dark_hum-wind__separator': isDarkMode}">&nbsp;</div>
              <div class="wind__container">
                <span class="wind__text" [ngClass]="{'font-contrast-color': isDarkMode}">wind</span>
                <span class="wind-value__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{currentWind}} K/M</span>
              </div>
            </div>
          </div>
          <div class="city-name__container">
            <div class="city-name__underline" [ngClass]="{'dark_city-name__underline': isDarkMode}">
              <span class="city-name__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{clickedCapital}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <section class="forecast__container m-5">
          <div class="day-weather__container" [ngSwitch]="true" *ngFor="let day of forecast | keyvalue: returnZero">
            <span class="day-name__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{day.key}}</span>
            <img class='forecast-condition__icon' src='{{day.value.stateImg}}' />
            <span class="day-temp__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{day.value.avgTemp}}°</span>
            <span class="day-state__text" [ngClass]="{'font-contrast-color': isDarkMode}">{{day.value.predictedState}}</span>
          </div> 
        </section>
      </div>
    </div>
  </div>
<!-- <div class="details-page__wrapper" [ngClass]="{'details-page__wrapper-dark': isDarkMode}">
  <div class="background-gradient__circle" [ngClass]="{'background-gradient__circle-dark': isDarkMode}"></div>  -->
  <!-- <section class="main-weather__card"> -->
    <!-- <main class="body-content__wrapper"> -->
      <!-- <section class="twitter-feed__container">
        <div class="twitter-feed__header">
          <svg class="twitter__icon" viewBox="4332 625.812 30 24.375">
            <defs>
              <style>.twitter-icon-fill {
                fill: #03a9f4;
              }</style>
            </defs>
            <path class="twitter-icon-fill"
                  d="M30,50.886a12.823,12.823,0,0,1-3.544.971,6.116,6.116,0,0,0,2.706-3.4,12.291,12.291,0,0,1-3.9,1.489,6.15,6.15,0,0,0-10.639,4.206,6.333,6.333,0,0,0,.143,1.4A17.408,17.408,0,0,1,2.089,49.121a6.152,6.152,0,0,0,1.89,8.22A6.074,6.074,0,0,1,1.2,56.584v.067a6.179,6.179,0,0,0,4.928,6.043,6.139,6.139,0,0,1-1.613.2,5.439,5.439,0,0,1-1.164-.1A6.209,6.209,0,0,0,9.1,67.076,12.358,12.358,0,0,1,1.472,69.7,11.521,11.521,0,0,1,0,69.615a17.315,17.315,0,0,0,9.435,2.76c11.318,0,17.505-9.375,17.505-17.5,0-.272-.009-.534-.023-.8A12.269,12.269,0,0,0,30,50.886Z"
                  transform="translate(4332 577.812)"/>
          </svg>
          <span class="twitter-feed__text">Twitter Feed</span>
          <span class="twitter-feed-tag__text">#Paris</span>
        </div>
        <div class="twitter-feed__body">

          <ng-container *ngIf="tweets$ | async as tweets; else loadingTweets">
            <p *ngIf="tweets && tweets.length === 0" class="twitter-no-tweets__text">No Tweets Found</p>
          <div class="twitter-tweet__container" *ngFor="let tweet of tweets">
            <div class="tweet-user__wrapper">
            <img [src]="tweet.user.photo" alt="avatar" class="tweet-avatar__image">
              <div>
            <span class="tweet-username__text">{{tweet.user.name}}</span>
            <span class="tweet-handle__text">{{tweet.user.handle}}</span>
              </div>
              </div>
            <p class="tweet__text">{{tweet.text}}</p>
          </div>
          </ng-container>

          <ng-template #loadingTweets>
            <div class="twitter__loader"></div>
          </ng-template>

        </div>
      </section> -->
    <!-- </main>
  </section> -->
<!-- </div> -->
</ng-container>

<!-- <app-error [message]="errorMessage"></app-error> -->