<div class="container m-5">
    <div class="card shadow-sm">
        <div class="card-body pt-0 pb-0 pe-0 overflow-hidden position-relative">
            <div class="row">
                <!-- Search Bar site -->
                <div class="col-6 d-flex flex-column align-items-start mb-3 ">
                    <label for="search-country" class="form-label"><h2 class="text">Search Cities</h2></label>
                    <form #weatherForm="ngForm" (ngSubmit)="searchWeatherByCityName(weatherForm)" class="w-75">
                        <input name="search-country" list='capitalList' class="form-control" placeholder="Search country here..." [(ngModel)]="searchValue" (ngModelChange)="searchValue = $event.toUpperCase();" required>
                        <button type="submit" [disabled]="!weatherForm.valid">Search</button>
                        <datalist id="capitalList">
                            <option *ngFor="let capital of capitals" [value]=capital>
                        </datalist>
                    </form>
                </div>
                <!-- Weather site -->
                <div class="col-6 g-0">
                    <h2 *ngIf="isFirstTime" class="search-result-text p-2">Please select a capital and click the "Search" icon / press "Enter" key</h2>
                    <h2 *ngIf="!isCapitalValid" class="search-result-text text-danger p-2">The input is invalid. Note: only capital cities are supported for now</h2>
                    <ng-container *ngIf="!isFirstTime && isCapitalValid">
                        <div class="card shadow rounded">
                            <div class="card text-center" [class.dark-mode-card-color]="isDarkMode">
                                <div class="card-body ">
                                    <div class="d-flex flex-column">
                                        <h4 class="country-name">{{capital}}</h4>
                                        <div class="p-2" [ngSwitch]="true">
                                            <img *ngSwitchCase="currentWeatherState === 'Clouds'" src="../../../assets/images/cloudy-weather.png " alt="Cloudy day " />
                                            <img *ngSwitchCase="currentWeatherState === 'Rain' || currentWeatherState === 'Drizzle' || currentWeatherState === 'Mist'" src="../../../assets/images/heavy-rain-weather.png" alt="Raining day " />
                                            <img *ngSwitchCase="currentWeatherState === 'Storm' || currentWeatherState === 'Thunderstorm'" src="../../../assets/images/storm-weather.png" alt="Thunderstorm day " />
                                            <img *ngSwitchCase="currentWeatherState === 'Sunny' || currentWeatherState === 'Clear'" src="../../../assets/images/sunny-weather.png " alt="Sunny day " />
                                            <img *ngSwitchDefault src="../../../assets/images/snowing-weather.png" alt="Snowing day " />
                                        </div>
                                        <div>
                                            <h3 class="degree "><strong>{{currentTemp}}&#176;</strong></h3>
                                            <p class="fs-5 weather mb-0">{{currentWeatherState}}</p>
                                            <div class='d-flex justify-content-evenly'>
                                                <div class="d-flex flex-column bd-highlight justify-content-center ms-4 ">
                                                    <div><i class="bi bi-caret-down-fill min-degree "></i></div>
                                                    <div>
                                                        <span class="degree ">{{minTemp}}</span>
                                                    </div>
                                                    <div>
                                                        <span class="min-degree degree ">Min</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column bd-highlight justify-content-center me-4 ">
                                                    <div><i class="bi bi-caret-up-fill max-degree "></i></div>
                                                    <div>
                                                        <span class="degree ">{{maxTemp}}</span>
                                                    </div>
                                                    <div>
                                                        <span class="max-degree degree ">Max</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="d-grid mt-3">
                                            <button *ngIf="isAdded" class="btn btn-info" type="button" disabled><strong>Added</strong></button>
                                            <!-- Disable the "Add" Button once the "Add" Button is clicked -->
                                            <button *ngIf="!isAdded" class="btn btn-info" type="button" (click)="addCapitals();"><strong>Add</strong></button>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </ng-container>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-info col-2 mt-2" (click)="goBack();"><strong>&lt; Back</strong></button>
</div>

<!-- Pass the countries$ as a normal array
  <div *ngIf='countries$ | async; let countries'>
    <ul *ngIf="countries.length > 0; else elseState" class="search-result">
        <li *ngFor="let country of countries">
            <a>{{country}}</a>
        </li>
    </ul>
</div>
Display this template only when there is no country matching the search term
<ng-template #elseState>
    <ul class="no-search-result">
        <li>
            <a class="text">no result found</a>
        </li>
    </ul>
</ng-template> -->