.weather {
    font-family: Arial, Helvetica, sans-serif;
}

.min-degree {
    color: rgb(43, 214, 157);
}

.max-degree {
    color: rgb(206, 5, 5);
}

.country-name {
    text-transform: uppercase;
}

.weather-wrapper{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}