<div class="main__container">
    <div class="reset-card">
      <main class="reset-content" [class.dark_reset-content]="isDarkMode">
        <span class="reset-header" [class.font-contrast-color]="isDarkMode">Reset Password</span>
        <!-- login form -->
        <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)" class="reset-form" >
          <input name="email" [(ngModel)]="email" type="email" autofocus placeholder="Email" class="reset-input" required>
          <input type="submit" name="submit" value="Send Email" class="reset-btn" [disabled]="!resetForm.valid" [class.btn-disabled]="!resetForm.valid">
        </form>
        <div class="login-link-wrapper">
            <span class="login-notice">Go back to?</span>
            <a class="login-link" routerLink="/login">Login</a>
        </div>
        
      </main>
    </div>
  </div>